#ratingInput {
    width: 40%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.page-header{
 text-align: center;
 margin-top: 20px;
 margin-bottom: 20px;
}